/*
blue: rgb(164,217,240)
pink: rgb(240,149,177)
orange: rgb(235,188,166)
green: rgb(97,211,182)
*/

@font-face {
  font-family: OCR-B-web;
  src: url('../fonts/OCR-B-regular-web.eot');
  src: url('../fonts/OCR-B-regular-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OCR-B-regular-web.svg#ocrbregular') format('svg'),
       url('../fonts/OCR-B-regular-web.woff') format('woff'),
       url('../fonts/OCR-B-regular-web.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-ultralight-web.eot');
  src: url('../fonts/klima-ultralight-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klima-ultralight-web.svg#klimaultralight') format('svg'),
       url('../fonts/klima-ultralight-web.woff2') format('woff2'),
       url('../fonts/klima-ultralight-web.woff') format('woff'),
       url('../fonts/klima-ultralight-web.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-ultralight-italic-web.eot');
  src: url('../fonts/klima-ultralight-italic-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klima-ultralight-italic-web.svg#klimaultralight_italic') format('svg'),
       url('../fonts/klima-ultralight-italic-web.woff2') format('woff2'),
       url('../fonts/klima-ultralight-italic-web.woff') format('woff'),
       url('../fonts/klima-ultralight-italic-web.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-light-web.eot');
  src: url('../fonts/klima-light-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klima-light-web.svg#klimalight') format('svg'),
       url('../fonts/klima-light-web.woff2') format('woff2'),
       url('../fonts/klima-light-web.woff') format('woff'),
       url('../fonts/klima-light-web.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-light-italic-web.eot');
  src: url('../fonts/klima-light-italic-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klima-light-italic-web.svg#klimalight_italic') format('svg'),
       url('../fonts/klima-light-italic-web.woff2') format('woff2'),
       url('../fonts/klima-light-italic-web.woff') format('woff'),
       url('../fonts/klima-light-italic-web.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-regular-web.eot');
  src: url('../fonts/klima-regular-web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/klima-regular-web.svg#klimaregular') format('svg'),
       url('../fonts/klima-regular-web.woff2') format('woff2'),
       url('../fonts/klima-regular-web.woff') format('woff'),
  url('../fonts/klima-regular-web.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-regular-italic-web.eot');
  src: url('../fonts/klima-regular-italic-web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/klima-regular-italic-web.svg#klimaregular_italic') format('svg'),
       url('../fonts/klima-regular-italic-web.woff2') format('woff2'),
       url('../fonts/klima-regular-italic-web.woff') format('woff'),
  url('../fonts/klima-regular-italic-web.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-medium-web.eot');
  src: url('../fonts/klima-medium-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klima-medium-web.svg#klimamedium') format('svg'),
       url('../fonts/klima-medium-web.woff2') format('woff2'),
       url('../fonts/klima-medium-web.woff') format('woff'),
       url('../fonts/klima-medium-web.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-medium-italic-web.eot');
  src: url('../fonts/klima-medium-italic-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klima-medium-italic-web.svg#klimamedium_italic') format('svg'),
       url('../fonts/klima-medium-italic-web.woff2') format('woff2'),
       url('../fonts/klima-medium-italic-web.woff') format('woff'),
       url('../fonts/klima-medium-italic-web.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-bold-web.eot');
  src: url('../fonts/klima-bold-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klima-bold-web.svg#klimabold') format('svg'),
       url('../fonts/klima-bold-web.woff2') format('woff2'),
       url('../fonts/klima-bold-web.woff') format('woff'),
       url('../fonts/klima-bold-web.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-bold-italic-web.eot');
  src: url('../fonts/klima-bold-italic-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klima-bold-italic-web.svg#klimabold_italic') format('svg'),
       url('../fonts/klima-bold-italic-web.woff2') format('woff2'),
       url('../fonts/klima-bold-italic-web.woff') format('woff'),
       url('../fonts/klima-bold-italic-web.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-heavy-web.eot');
  src: url('../fonts/klima-heavy-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klima-heavy-web.svg#klimaheavy') format('svg'),
       url('../fonts/klima-heavy-web.woff2') format('woff2'),
       url('../fonts/klima-heavy-web.woff') format('woff'),
       url('../fonts/klima-heavy-web.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: KlimaWeb;
  src: url('../fonts/klima-heavy-italic-web.eot');
  src: url('../fonts/klima-heavy-italic-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klima-heavy-italic-web.svg#klimaheavy_italic') format('svg'),
       url('../fonts/klima-heavy-italic-web.woff2') format('woff2'),
       url('../fonts/klima-heavy-italic-web.woff') format('woff'),
       url('../fonts/klima-heavy-italic-web.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  font: 15px/1.4 KlimaWeb, Helvetica Neue, Helvetica, sans-serif;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  margin: 1rem;
}

a:link,
a:visited {
  color: #1F6DC2;
  text-decoration: none;
}

a:hover,
a:active {
  color: #007AFF;
  text-decoration: underline;
}

.page-title {
  text-align: center;
}

a.wordmark {
  color: #29abe2;
  display: block;
  font-size: 4rem;
  font-size: calc(2.2rem + 3vw);
  font-weight: 100;
  /*font-style: italic;*/
  padding: .5rem 0;
  text-decoration: none;
  transition: .75s color ease-in-out, .75s text-shadow ease-in-out;
}

/* Effect inspired by the animation at http://arewevryet.com/ */
a.wordmark:hover {
  color: magenta;
  text-shadow: -0.35rem 0 0 cyan;
}

.external-links {
  color: #ccc;
  font: 1.15rem/2 OCR-B-web, monospace;
  margin: .3rem 0 1.1rem;
  list-style: none;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.external-links > li {
  margin: 0;
}

.external-links a {
  /*color: #fb0649;*/
  /*color: magenta;*/
  color: deeppink;
  display: block;
  padding: .25rem .5rem;
  text-decoration: none;
  transition: .1s ease-in-out;
}

.external-links a:hover,
.external-links a:active {
  /*background-color: #fb0649;*/
  /*background-color: magenta;*/
  background-color: deeppink;
  color: #fff;
}

.feature .feature-name {
  background: #111;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  margin: 0 -1rem;
  overflow: hidden;
  padding: .4rem 1rem;
  position: relative;
  text-overflow: ellipsis;
}

.article {
  line-height: 1.4;
  margin: 0 auto 1rem;
  max-width: 510px;
}

.faq {
  max-width: 510px;
}

.article + .article {
  margin-top: 3rem;
}

.article:target > header,
.article:target .results {
  background: cyan;
}

.feature > header {
  overflow: hidden;
  padding: 0 1rem;
}

.article > header p,
.faq p {
  margin: .7rem 0;
}

.faq ul {
  margin: 1.4rem 0 1.4rem 2rem;
}

.article > header p a {
  font-weight: 600;
}

.feature .perma:link,
.feature .perma:visited {
  color: #fff;
}

.feature .perma:hover,
.feature .perma:active {
  text-decoration: none;
}

.feature .perma:hover .feature-name::after,
.feature .perma:active .feature-name::after {
  color: rgba(255,255,255,0.25);
  content: '¶';
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.feature > header.no-background {
  background: none;
}

.results {
  display: flex;
  background: #111;
}

:target .results {
  background: #FFECA9;
}

.results .result {
  -webkit-flex: 1;
  flex: 1;
}

.result {
  margin: .4rem .4rem .4rem 0;
  overflow: hidden;
  position: relative;
}

.result:first-child {
  margin-left: .4rem;
}

.result::after {
  content: '';
  display: block;
  padding-top: 100%;
}

.result.yes {
  /*background: mediumaquamarine;*/
  background: #2ecc71;
}

.result.ish {
  background: #f5d76e;
}

.result.no {
  background: #95a5A6;
}

.result.no .icon {
  -webkit-filter: grayscale(100%);
  opacity: 0.2;
}

.result .support {
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-indent: -5000px;
  top: 0;
}

.result .version {
  background: rgba(255,255,255,0.8);
  bottom: 0;
  color: #000;
  font-family: OCR-B-web, monospace;
  font-size: .55rem;
  line-height: 1.2;
  padding: .1rem .2rem;
  position: absolute;
  right: 0;
  text-indent: 0;
}

.result .version::after {
  content: '+';
}

.result .icon {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-indent: -5000px;
  top: 0;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 78%;
  margin: 0;
}

.icon.chrome {
  background-image: url(../img/chrome.png);
}

.icon.chrome-canary {
  background-image: url(../img/chrome-canary.png);
}

.icon.firefox {
  background-image: url(../img/firefox.png);
}

.icon.firefox-nightly {
  background-image: url(../img/firefox-nightly.png);
}

.icon.edge {
  background-image: url(../img/edge.png);
}

.icon.opera {
  background-image: url(../img/opera.png);
}

.icon.opera-developer {
  background-image: url(../img/opera-developer.png);
}

.icon.safari {
  background-image: url(../img/safari.png);
}

.icon.webkit {
  background-image: url(../img/webkit.png);
}

.browser:after {
  content: ':\00a0';
}

.details {
  font-size: .9rem;
  list-style: none;
}

.details > li {
  background: #e4e4e4;
  display: block;
  padding: .5rem;
}

.details > li:nth-child(even) {
  background: #f1f1f1;
}

.details > li:first-child {
  border-top: solid 1px #cfcfcf;
}

.credits {
  color: #888;
  font-size: 0.8vw;
  font-size: calc(0.6rem + 0.8vw);
  font-weight: 300;
  line-height: 30px;
  margin: 3rem 0 2rem;
  padding: 1rem 0;
  text-align: center;
}

.mozvr-wordmark {
  background: #ffcd02;
  display: inline-block;
  margin: -5px -5px -5px 5px;
  padding: 5px;
  opacity: 0.75;
  transition: .2s background ease-in-out, .2s opacity ease-in-out;
  vertical-align: bottom;
}

.mozvr-wordmark img {
  display: block;
  height: 30px;
}

.mozvr-wordmark:hover {
  opacity: 1;
}

@media (min-width: 500px) {
  html {
    font-size: 17px;
  }

  body {
    margin: 1.8rem;
  }

  .external-links {
    margin-bottom: 3.2rem;
  }
}

@media (min-width: 800px) {
  a.wordmark {
    padding-top: 3rem;
  }

  .external-links {
    margin-bottom: 4.4rem;
  }

  .feature {
    -webkit-flex-flow: wrap;
    -webkit-justify-content: flex-end;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    max-width: 947px;
  }

  .faq {
    max-width: 947px;
  }

  .feature > header {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNo3fnsPwNRAKdKABXjBkcjeXa5AAAAAElFTkSuQmCC);
    width: 35%;
  }

  .results {
    width: 65%;
  }

  .result {
    margin-top: .4rem;
  }

  .details {
    width: 65%;
  }
}

@media (min-width: 578px) {
  .external-links li,
  .external-links a {
    display: inline-block;
  }

  .external-links a {
    line-height: 1;
    padding: .5rem .75rem;
  }

  .external-links li + li::before {
    content: '*';
    margin: 0 .75rem;
    position: relative;
    top: 1px;
  }

  .result .version {
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 10%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    display: flex;
    height: 32%;
    justify-content: center;
    padding: 0;
    right: 10%;
    width: 32%;
  }
}
