<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="canonical" href="https://iswebvrready.org/">
    <script src="js/ga.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
    <script>
      if ('WebFont' in window) {
        window.WebFont.load({
          custom: {
            families: [
              'KlimaWeb',
              'OCR-B-web'
            ],
          },
          timeout: 25000
        });
      }
    </script>
    <script src="js/main.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include '_masthead.html' %}
    {% block body %}{% endblock %}
    {% include '_footer.html' %}
  </body>
</html>
