<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="canonical" href="https://iswebvrready.org/">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/lib/webfont.1.6.16.js"></script>
    <script>
      if ('WebFont' in window) {
        window.WebFont.load({
          custom: {
            families: ['KlimaWeb', 'OCR-B-web'],
          }
        });
      }
    </script>
    <script defer src="js/ga.js"></script>
    <script defer src="js/main.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include '_masthead.html' %}
    {% block body %}{% endblock %}
    {% include '_footer.html' %}
  </body>
</html>
