{% extends 'base.html' %}

{% block title %}WebVR Resources{% endblock %}

{% block body %}
  {% include 'masthead.html' %}

  <article class="feature" id="articles">
    <header class="no-background">
      <a href="#articles" class="perma">
        <h1 class="feature-name">Articles</h1>
      </a>
    </header>
    <ul class="details">
    </ul>
  </article>

  <article class="feature" id="recipes">
    <header class="no-background">
      <a href="#recipes" class="perma">
        <h1 class="feature-name">Sample Code &amp; Recipes</h1>
      </a>
    </header>
    <ul class="details">
    </ul>
  </article>

  <article class="feature" id="reference-apps">
    <header class="no-background">
      <a href="#reference-apps" class="perma">
        <h1 class="feature-name">Reference Scenes</h1>
      </a>
    </header>
    <ul class="details">
    </ul>
  </article>

  <article class="feature" id="documentation">
    <header class="no-background">
      <a href="#documentation" class="perma">
        <h1 class="feature-name">Documentation</h1>
      </a>
    </header>
    <ul class="details">
    </ul>
  </article>

<article class="feature" id="libraries">
  <header class="no-background">
    <a href="#libraries" class="perma">
      <h1 class="feature-name">Libraries</h1>
    </a>
  </header>
  <ul class="details">
  </ul>
</article>

  <p class="credits">Maintained by <a href="http://mozvr.com/" class="mozvr-wordmark"><img src="img/mozvr-white.svg" title="MozVR" alt="MozVR"></a></p>
{% endblock %}
